:root {
  font-family: "Roboto", sans-serif;
  --text-color-black: #021639;
  --text-color-blue: hsl(209, 86%, 66%);
  --text-color-green: #3dcbb1;
  --circle--w--h: 190px;
  color: var(--text-color-black);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  height: 5rem;
  margin: 0;
  position: sticky;
  align-items: center;
  right: 0;
  left: 0;
  top: 0px;
  z-index: 999;
  background-color: hsl(231, 100%, 97%, 0.8);
}

.topnav-container {
  top: 30%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: inherit;
  margin-left: 10%;
  margin-right: 5%;
  position: relative;
  text-align: center;
  left: 45%;
  right: 10%;
  max-width: fit-content;
  gap: 32px;
}

.topnav-square {
  position: relative;
  background-color: rgb(22, 73, 227);
  width: 6%;
  height: 30%;

  left: 5%;
}

.topnav-container a {
  text-decoration: none;
  color: #021639;
}

@media only screen and (max-width: 600px) {
  header {
    align-items: center;
    right: 0;
    left: 0;
    top: 0px;
    z-index: 999;
    background-color: hsl(231, 100%, 97%, 0.8);
  }

  .topnav-container {
    top: 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: inherit;
    margin-left: 5%;
    margin-right: 0%;
    position: relative;
    text-align: center;
    left: 5%;
    right: 10%;
    max-width: fit-content;
    gap: 0px;
  }

  .topnav-square {
    position: relative;
    background-color: rgb(22, 73, 227);
    width: 6%;
    height: 30%;

    left: 5%;
  }

  .topnav-container a {
    text-decoration: none;
    color: #021639;
  }

  p {
    font-size: 4vw;
  }
}

a {
  text-decoration: none;
}

#hero {
  padding-top: 80px;
  width: 100%;
  height: 550px;
  background: hsl(231, 100%, 97%);
  background-size: cover;
  position: relative;
  scroll-margin-top: 80px;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row: inherit;
  /* margin-left: 10rem; */
  /* margin-right: 10rem; */
  padding-left: 5rem;
  position: absolute;
}

.hero-text {
  /* position: relative; */
  padding-left: 2rem;
  transition-duration: 500ms;
  height: inherit;
}

.hero-imej {
  margin-top: 3rem;
  align-items: baseline;
  height: 250px;
  width: 250px;
  background-color: rgb(22, 73, 227);
  border-radius: 50%;
  position: sticky;
  margin-left: 4rem;
}

.hero-imej img {
  width: 200%;
}

.hero-filter-container {
  background-color: white;
  padding: 10px;
  margin-top: 4rem;
  margin-left: 5rem;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
  box-shadow: #021639;
  display: flex;
  flex-direction: row;
  grid-column: 1 / span 2;
  gap: 1rem;
}

.hero-filter-nama {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

#hero input {
  border-radius: 4px;
  width: 12rem;
}

#hero select {
  border-radius: 4px;
  width: 12rem;
}

#hero label {
  font-size: small;
}

#hero button {
  background-color: #5cb85f;
  color: white;
  border-color: transparent;
}

@media only screen and (max-width: 600px) {
  #hero {
    width: 100%;
    height: 600px;
    padding: 0;
  }
  .hero-container {
    margin: 0;
    height: inherit;
    /* font-size: 10px; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
  }
  #hero h1 {
    font-size: 30px;
  }

  .hero-imej {
    margin-top: 1rem;
    height: 200px;
    width: fit-content;
    background-color: rgb(22, 73, 227);
    border-radius: 0%;
    position: sticky;
    margin-left: 0rem;
  }

  .hero-imej img {
    width: 90%;
    position: relative;
    bottom: 20px;
    left: 10%;
    bottom: 30%;
  }
}

footer {
  /* height: full; */
  background-color: hsl(198, 93%, 12%);
  color: #fff;
  /* position: static; */
  height: 100px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: inherit;
  margin-left: 5rem;
  margin-right: 10rem;
  position: relative;
  top: 20%;
}

@media only screen and (max-width: 600px) {
  footer {
    height: 12vh;
    background-color: #021639;
    color: #fff;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: inherit;
    margin-left: 5rem;
    margin-right: 10rem;
    position: relative;
    top: 20%;
  }

  .footer-logo {
    background-color: #5cb85f;
    width: 4rem;
    height: 2rem;
  }
}
